/* 通用css */
/* 样式重置  去除浏览器自带样式*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd{
	margin: 0;
}
/* 通用字体样式 */
body{
	
	font-size: 14px;
	color: #333;
	font-family: "微软雅黑";
}

ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
/* 去除ie浏览器自带border样式 */
img{
	border: none;
	/* 图片垂直方向以居中对齐 */
	vertical-align: middle;
}
/* 去除a标签自带下划线和字体颜色 */
a{
	text-decoration: none;
	color:#333;
}
/* a标签hover后颜色 */
a:hover{
	color: #b4a078;
}
/* 表单样式 */
input{
	margin: 0;
	padding: 0;
	/* 对齐 */
	vertical-align: middle;
	border: 1px solid #ccc;
}
/* 表单input前面的文字内容 */
label{
	vertical-align: middle;
}
/* 表格之前的间隙 */
table{
	border-collapse: collapse;
}

th,td{
	padding: 0;
}
/* 居中 */
.center{
	width: 1090px;
	margin: 0 auto;
}
/* 浮动 */
.left{
	float: left;
}
.right{
	float:right;
}
/* 清除浮动 */
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
/* 兼容ie */
.clearfix{
	zoom: 1;
}
/* 图片放大 前的初始样式*/
.scaleImg img{
	/* 减速 */
	transition: 1s ease-out;
	/* 放大1倍  还是本身大小*/
	transform: scale(1);
	
}

/* hover图片时放大*/
.scaleImg:hover img{
	/* 放大1.1倍 */
	transform: scale(1.1);
}

/* 图片懒加载 配合js来做 css主要是在真的图片还没有加载的时候 先用css提供的背景图片 */
.original{
	background: #f4f4f4 url(../img/original.png) center no-repeat;
}

/* ---------头部--------- */
#head{
	border-bottom: 1px sid: #f3f3f3;
	/* 阴影 x轴 y轴 阴影大小*/
	box-shadow: 0 2px 2px #f3f3f3;
}
#head .head{
	background: #333;
	font-size: 12px;
	line-height: 36px;
}
#head .left{
	color: #ccc;
}
#head li {
	float: left;
	position: relative;
}
#head li a{
	color: #ccc;
	padding: 0 10px;
	border-left: 1px solid #5c5c5c;
}
#head li a:hover{
	color: #fff
}
#head li a.noborder{
	border: none;
}
#head .customer{
	padding-right: 10px;
	margin-right: 10px;
	background: url(../img/customer_bg1.gif) 68px center no-repeat;
	
}
#head .customer:hover{
	
	background: url(../img/customer_bg2.gif) 68px center no-repeat;
}
#head .customer:hover ul{
		display: block;
}
#head .customer ul{
	position: absolute;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	background: #fff;
	display: none;
}

#head .customer ul:before,#head .download div::before{
	width: 10px;
	height: 6px;
	content: '';
	display: block;
	background: url(../img/ico_02.png);
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: -6px;
}
#head .customer ul li{
	float: none;
}
#head .customer ul a{
		display: block;
		padding: 0;
		border-left: none;
		border-bottom: 1px solid #ddd;
		text-align: center;
		margin: 0 10px;
		color: #999;
}
#head .customer ul a:hover{
	color: #b4a078;
}
#head .customer ul a.noborder{
	border-bottom: none;
}
#head .customer li.phone{
		background: url(../img/phone_bg1.gif) 62px center no-repeat;
}
#head .customer li.phone:hover{
		background: url(../img/phone_bg2.gif) 62px center no-repeat;
}
#head .customer li.phone:hover div{
	display: block;
}
#head .customer li.phone div {
	position: absolute;
	width: 110px;
	height: 57px;
	right: -110px;
	top: 0;
	line-height: 20px;
	text-align: center;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	background: #fff;
	display: none;
}
#head .customer li.phone div p:nth-child(1){
	font-size: 14px;
	color: #999;
	margin-top: 12px;
}
#head .customer li.phone div p:nth-child(2){
	color: #ccc;
}



#head .download{

}
#head .download a{
	padding-left: 25px;
	background: url(../img/ico_01.png)  10px center no-repeat;
}
#head .download div{
	position: absolute;
	left: -46px;
	border: 1px solid #ddd;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	padding: 10px;
	line-height: 20px;
	color: #b4a078;
	background: #fff;
	display: none;
}
#head .download:hover div{
	display: block
}

/*----------搜索----------*/
.search{
	margin: 40px 0;
}
.search .center{
	position: relative;
	height: 60px;
}
.search h1{
	position: absolute;
	left: 50%;
	margin-left: -90px;
}
.searcBox{
	height: 25px;
	margin: 16px 40px 0 0;
	font-size: 0;
}
.searcBox input{
	width: 250px;
	height: 24px;
	line-height: 24px;
	border: none;
	border-bottom: 1px solid #d8cebc;
	color: #b4a078;
	outline: none;
	font-size: 12px;
}
.searcBox a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/ico_03.gif);
	vertical-align: middle;
}
