/*----------产品图片----------*/
#productImg{
	width: 1090px;
	margin: 0 auto;
}
#productImg div.left{
	width: 530px;
}
#productImg img.left{
	width: 428px;
	height: 428px;
	border: 1px solid #E8E8E8;
}
#productImg .smallImg{
	width: 78px;
	height: 430px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}
#productImg .smallImg img{
	width: 78px;
	height: 78px;
	border: 1px solid #E8E8E8;
	cursor: pointer;
	box-sizing: border-box;
}
#productImg .smallImg img:hover,#productImg .smallImg img.active{
	border: 2px solid #B4A078;
}

#productImg .info{
	width: 510px;
}
#productImg .info h2{
	font: bold 20px/20px "微软雅黑";
}
#productImg .info p{
	font: 12px/56px "微软雅黑";
	color: #999;
}
#productImg .price{
	background: #f5f3ef;
	border: 1px dotted #dedede;
	padding: 15px 0;
	line-height: 28px;
}
#productImg .price span{
	padding-left: 10px;
	margin-right: 30px;
	font-size: 12px;
	color: #666;
}
#productImg .price strong{
	font: bold 22px/22px "微软雅黑";
	color: #d7282d;
}
#productImg .price a.tag{
	display: inline-block;
	font: 12px/18px "微软雅黑";
	color: #fff;
	background: #d7282d;
	padding: 0 10px;
	margin-right: 10px;
}
#productImg .price a.discount{
	font-size: 12px;
	color: #d7282d;
	text-decoration: underline;
}
#productImg .price a.service{
	font-size: 12px;
	color: #666;
	vertical-align: middle;
}
#productImg .price a.service:hover{
	text-decoration: underline;
}
#productImg .price i{
	display: inline-block;
	width: 3px;
	height: 3px;
	vertical-align: middle;
	background: url(../img/ico_15.gif) no-repeat;
	margin: 0 5px 0 15px;
}
#productImg .price i:nth-child(1){
	margin-left: 0;
}
#productImg .fomat dl,#productImg .number{
	height: 32px;
	line-height: 32px;
	color: #666;
	font-size: 12px;
	margin: 20px 0;
	padding-left: 10px;
}
#productImg .fomat dt{
	float: left;
	margin-right: 30px;
}
#productImg .fomat dd{
	height: 32px;
	float: left;
	padding: 0 10px;
	border: 1px solid #ddd;
	margin-right: 10px;
	cursor: pointer;
	box-sizing: border-box;
	
}
#productImg .fomat dd.active{
	border: 2px solid #B4A078;
	background: url(../img/ico_16.gif) right bottom no-repeat;
}
#productImg .fomat dd.noclick{
	cursor: not-allowed;
	opacity: .5;
	border: 1px dashed #e4e4e4;
}
#productImg .number *{
	float: left;
	font: 12px/28px "微软雅黑";
}
#productImg .number .nTitle{
	margin-right: 30px;
}
#productImg .number div span{
	width: 35px;
	border: 1px solid #ddd;
	font-size: 20px;
	color: #999;
	cursor: pointer;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
#productImg .number div input{
	width: 60px;
	height: 28px;
	border-color: #ddd;
	border-left: none;
	border-right: none;
	text-align: center;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
/*这么长的选择器是为了提升优先级*/
#productImg div.noClick{
	opacity: 0.5;
}
#productImg div.noClick span,#productImg div.noClick input{
	cursor: not-allowed;
}
#productImg .btn{
	font-size: 0;
}
#productImg .btn a{
	display: inline-block;
	width: 168px;
	line-height: 47px;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}
#productImg .btn a.buy{
	color: #B4A078;
	border: 1px solid #B4A078;
	background: #F5F3EF;
	border-radius: 2px;
}
#productImg .btn a.buy:hover{
	background: #fff;
}
#productImg .btn a.join{
	color: #fff;
	text-indent: 40px;
	margin: 0 10px;
	border: 1px solid #B4A078;
	background: #B4A078 url(../img/join_bg.gif) no-repeat 25px 13px;
}
#productImg .btn a.join:hover{
	opacity: 0.8;
}
#productImg .btn a.collection{
	width: 50px;
	height: 19px;
	line-height: 14px;
	padding-top: 30px;
	font-size: 14px;
	color: #999;
	border: 1px solid #ccc;
	background: url(../img/collection_bg.gif) no-repeat center 6px;
}


/*----------大家都在看----------*/
#look{
	margin: 20px auto;
}
#look .center{
	border: 1px solid #e8e8e8;
}
#look h3{
	font: bold 18px/44px "微软雅黑";
	background: #f5f5f5;
	text-indent: 20px;
}
#look .content{
	position: relative;
}
#look .carouselImgCon{
	position: relative;
	height: 250px;
	padding-bottom: 20px;
	margin: 0 80px;
	overflow: hidden;
}
#look ul{
	width: 1920px;
	position: absolute;
	left: 0;	
}
#look ul li{
	width: 210px;
	float: left;
	text-align: center;
	margin-right: 30px;
}
#look ul li img{
	width: 210px;
	height: 210px;
}
#look ul li a{
	font: bold 12px/12px "微软雅黑";
	display: block;
}
#look ul li span{
	font: 12px/12px "微软雅黑";
	color: #d4282d;
	margin-top: 16px;
}
.prev,.next{
	width: 30px;
	height: 30px;
	text-align: center;
	background: #d1c5af;
	color: #fff;
	line-height:30px;
	overflow: hidden;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
#look .prev:hover,#look .next:hover{
	background: #B4A078;
}
#look .prev{
	left: 20px;
}
#look .next{
	right: 20px;
}

/*下面的两个样式是为了设置不能点击时候的颜色（可能会用得到）*/
#look div.noClick{
	background: #ddd;
}
#look div.noClick:hover{
	background: #ddd;
}